.chart {
  margin: 0 auto;
  padding: 10px;
}

.range-chart-area {
  position: relative;
  padding: 5px 0;
}

.range-selector {
  box-sizing: border-box;
  position: absolute;
  top: 0;
}

.range-selector__right,
.range-selector__left {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  background: rgba(236, 240, 241, 0.6);
}

.range-selector__left {
  left: 0;
}

.range-selector__center {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  border-bottom: 3px solid #ECF0F1;
  border-top: 3px solid #ECF0F1;
  cursor: grab;
}

.range-selector__left-bar,
.range-selector__right-bar {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  width: 10px;
  background: #ECF0F1;
  cursor: col-resize;
}

.range-selector__right-bar {
  right: 0;
}

.check-axes {
  display: flex;
  margin-top: 20px;
}

.check-axes div {
  margin-right: 54px;
  border: 2px solid #ddd;
  padding: 10px 10px 10px 52px;
  border-radius: 24px;
}

.check-axes label {
  position: relative;
  cursor: pointer;
}

.check-axes .checked-label {
  position: absolute;
  top: -5px;
  left: -44px;
  z-index: 1;
  width: 24px;
  height: 24px;
  background: none;
  border: 2px solid;
  border-radius: 50%;
  content: "";
}
.check-axes label::after {
  content: "";
}

.check-axes input[type="checkbox"] {
  display: none;
}

.check-axes input[type="checkbox"]:checked ~ label .checked-label {
}

.check-axes input[type="checkbox"]:checked ~ label::after {
  position: absolute;
  top: 4px;
  left: -36px;
  z-index: 2;
  width: 10px;
  height: 5px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
}